Detectu pos:

Ŝanĝeblaj, Senfinaj: (S)
NOUN -o(j)(n)
ADJ -a(j)(n)
ADV -e(n)
VERB -i,-u,-as,-os,-is,-us

Ŝanĝeblaj, Finaj: (F)
PRONOUNS (PRON): mi, vi, ci, li, ŝi, ĝi, ni, ili, oni, si -a(j,n))
CORRELATIVES: ki, ti, ĉi, i, neni - u, o, a, el, al, e, en, am, om, es
Relative, Indicative, Universal, Indefinite, Negative
u,a - (j,n), o,e - (n)


Neŝanĝeblaj: (N)
NUMERAL - unu,du,tri,kvar,kvin,ses,sep,ok,naŭ, dek, cent, mil

PREPOSITION (PREP)
CONJUNCTION (KONJ)
SUBJUNCTION (SUBJ)
INTERJECTION (INTERJ)
ARTICLE
PARTICLE (PARTIKULO)


UNDEF - undefined pow

2)Detectu classo:
PLURAL -j(n) (pronoun, noun, adj)
ACC -n (pronoun, noun, adj)
DIR -n (adv)
POSSESIVE -a(j)(n) (for pronouns)

BaSITA SUR VIKIVORTARO KAJ PLENA ILUSTRITA VORTARO


SINTATIC LEIDEN


Глаголы:

Индикатив (изъявительное наклонение) — Я пишу (писал, написал, напишу, буду писать).
Субъюнктив (сослагательное, или условное, наклонение, кондиционалис, конъюнктив) — Я бы написал
Императив 
Инфинитив

Глаголы?